/*Mobile page d'accueil*/
header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: relative;
  padding: 14px 0px 13px 0px;
}
header h1 {
  margin: 0px;
}

body {
  margin: 0px;
}

.card {
  border-radius: 20px;
  background-color: #f6f6f6;
  height: 72.379px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.card-2 {
  border-radius: 15px;
  background-color: white;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}

.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
}
.location .ft-header {
  margin-right: 17px;
}
.location p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

.reservation {
  background-color: #f3f3f3;
}
.reservation h2 {
  margin: 39px 58px 0px 42px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}
.reservation-txt {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reservation p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}

.button-hdp {
  display: flex;
  justify-content: center;
}
.button-hdp button {
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  margin-bottom: 57px;
}
.button-hdp .button-txt {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.fonctionnement {
  padding-left: 32px;
  padding-right: 20px;
}
.fonctionnement h2 {
  margin: 48px 80px 26px 20px;
}
.fonctionnement .fonctionnement-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 68px;
}
.fonctionnement .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fonctionnement .fa-fonctionnement {
  margin-right: 20px;
}
.fonctionnement p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement .fonctionnement-numbers {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100%;
  background: #9356DC;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fa-color {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 54px 18px 66px 17px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants-cards-2 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants p {
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 12px;
}
.restaurants h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0px 80px 26px 20px;
}
.restaurants h3 {
  margin: 0px;
  margin-top: 16px;
}
.restaurants img {
  width: 100%;
  height: 231px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .heart-restaurants {
  position: absolute;
  right: 25px;
  bottom: 33px;
}
.restaurants .heart-restaurants:active {
  color: #9356DC;
}

.cards-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-txt {
  padding-left: 17px;
}

.new {
  border-radius: 2px;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
}

.card-2 {
  position: relative;
}
.card-2 .new {
  position: absolute;
  top: 13px;
  right: 15px;
}
.card-2 .new p {
  -webkit-text-decoration: #008766;
          text-decoration: #008766;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 7px;
}

footer {
  padding: 22px 25px;
  background-color: #353535;
}

.pied-de-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pied-de-page p {
  margin: 0px;
}
.pied-de-page li {
  color: white;
  list-style: none;
}
.pied-de-page ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 7px;
}

footer h4 {
  color: white;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 16px;
}
footer .fa-footer {
  margin-right: 11px;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
footer .mail {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/*Mobile page menu*/
.header-menu i {
  position: absolute;
  left: 17px;
}

.img-menu {
  position: relative;
  z-index: 0;
}
.img-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.menu {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  margin: 0px;
  padding: 32px 17px 0px 17px;
}
.menu i {
  position: absolute;
  right: 24px;
  font-size: 22px;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre-carte h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 9px;
  width: 40px;
  margin: 0px;
}

.ordre-repas {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 40px 13px;
}

div .card-menu {
  margin: 0px;
}

.plat-menu h4 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;
}
.plat-menu p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0px;
}
.plat-menu .prix-menu {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 28px;
}

.commande-menu {
  display: flex;
  justify-content: center;
}
.commande-menu .commander {
  border-radius: 25px;
  border: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
}
.commande-menu .button-txt {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.card-menu {
  border-radius: 15px;
  padding: 15px;
  background-color: white;
  margin: 12px;
}

a {
  color: black;
  text-decoration: none;
}

/* Version desktop*/
@media (min-width: 1024px) {
  /* Page d'accueil */
  header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .reservation h2 {
    margin: 0px;
    margin-top: 30px;
    font-size: 40px;
  }
  .reservation p {
    margin: 18px 0px 18px 0px;
  }
  .button-hdp button {
    margin-bottom: 30px;
  }
  .fonctionnement {
    padding: 50px 180px 50px 180px;
  }
  .fonctionnement h2 {
    margin: 0px;
    margin-bottom: 25px;
  }
  .fonctionnement .fonctionnement-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
  }
  .fonctionnement .card {
    width: 100%;
  }
  .restaurants {
    padding: 30px 180px 30px 180px;
  }
  .restaurants .restaurants-cards-2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px 100px;
  }
  .restaurants .plat-menu, .restaurants .plat-menu p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    align-items: center;
    padding: 30px 25px;
  }
  footer h4 {
    margin: 0px;
  }
  footer .pied-de-page ul {
    display: flex;
    flex-direction: row;
  }
  /*Page des menus*/
  h1 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .menu {
    margin-left: 193px;
    margin-right: 192px;
  }
  .menu h2 {
    display: flex;
    justify-content: center;
  }
  .menu i {
    position: relative;
    left: 315px;
  }
  .menu .ordre-repas {
    padding-left: 210px;
    padding-right: 211px;
  }
  .menu .plat-menu .prix-menu {
    position: absolute;
    right: 215px;
  }
  .menu .card-menu {
    width: 100%;
  }
}
/* Continuer ici transcription css en sass pour les pages de menu*//*# sourceMappingURL=style.css.map */